<div>
  <div>
    <h2>
      Edit actor
    </h2>

    <form action="/actors/<%= @the_actor.id %>" method="post" >
      <input type="hidden" name="_method" value="patch" autocomplete="off">
      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="date" id="dob_box" name="query_dob" value="<%= @the_actor.dob %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_actor.name %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio"><%= @the_actor.bio %></textarea>
      </div>

      <button>
        Update actor
      </button>
    </form>
  </div>
</div>
