<%= link_to movie_path(movie), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-start" do %>
  <div class="ms-2 me-auto">
    <div class="fw-bold"><%= movie.title %></div>
    <%= movie.description.truncate_words(8) %>
  </div>
  <span class="badge text-bg-primary rounded-pill"><%= movie.year %></span>
<% end %>
