<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      List of all movies
    </h1>
    <%= link_to new_movie_path do %>
      <i class="bi bi-plus-square-dotted fs-1"></i>
    <% end %>
  </div>
  <hr>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    <% @movies.each do |movie| %>
      <div class="col">
        <%= render("card", movie: movie) %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <%= paginate @movies %>
  </div>
</div>
