<div>
  <div>
    <h1>
      List of all movies
    </h1>
  </div>
</div>

<hr>

<div>
  <a href="/movies/new">Add a new movie</a>
</div>

<hr>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 mx-2">
  <% @movies.each do |movie| %>
    <div class="col">
      <%= render("card", movie: movie) %>
    </div>
  <% end %>
</div>

<%= paginate @movies %>
