<!--
TODO: style w/ bootstrap alert
https://getbootstrap.com/docs/5.3/components/alerts/
-->

<% if notice %>
  <div class="notice" style="color: green;"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert" style="color: red;"><%= alert %></div>
<% end %>
