<%= link_to "characters/#{character.id}", class: "list-group-item list-group-item-action d-flex justify-content-between align-items-start" do %>
  <div class="ms-2 me-auto">
    <div class="fw-bold"><%= character.name %></div>
    <%= character&.movie&.title %>
  </div>
  <span class="badge text-bg-primary rounded-pill"><%= character&.movie&.year %></span>
<% end %>
