<!DOCTYPE html>
<html>
  <head>
    <title>MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <% if notice %>
      <div class="notice" style="color: green;"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert" style="color: red;"><%= alert %></div>
    <% end %>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%= yield %>
    <a href="/about.html">About</a>
  </body>
</html>
